{% extends "layout.html" %}

{% block title %}
Login — Symbiota
{% endblock %}

{% block main %}

<div class="bg-login login">
    <div class="container">
        <div class="row mx-25">
            <div class="card border-0 shadow rounded-3 my-5 ">
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5 fw-light fs-5">Login to your account</h5>
                    <form action="/login" method="post">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                            <label for="floatingInput">Email address</label>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                            <label for="floatingPassword">Password</label>
                          </div>

                          <div class="d-grid">
                            <button class="btn btn-login text-uppercase fw-bold" type="submit">Sign
                              in</button>
                          </div>

                          <div class="text-center pt-4">
                            <p>Don't have an account? <a href="{{ url_for('register') }}">Create one now</a></p>
                          </div>

                          <hr class="my-4">
                          <div class="d-grid mb-2">
                            <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                              <i class="fab fa-google me-2"></i> Sign in with Google
                            </button>
                          </div>
                          <div class="d-grid">
                            <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                              <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                            </button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}